@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="center">
    <h1>@ViewData["Title"]</h1>
    <form id="change-password-form" method="post">
        <div class="txt_field">
            <input asp-for="Input.OldPassword" autocomplete="current-password" required />
            <label asp-for="Input.OldPassword"></label>
            <span asp-validation-for="Input.OldPassword"></span>
        </div>
        <div class="txt_field">
            <input asp-for="Input.NewPassword" autocomplete="new-password" required />
            <label asp-for="Input.NewPassword" ></label>
            <span asp-validation-for="Input.NewPassword" ></span>
        </div>
        <div class="txt_field">
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" required />
            <label asp-for="Input.ConfirmPassword" ></label>
            <span asp-validation-for="Input.ConfirmPassword" ></span>
        </div>
        <div class="pass">
            <a asp-page=".">
                Profile
            </a>
        </div>
        <input type="submit" value="Update password">
        <div class="signup_link">
            Done editing details? <a href="/">Return dashboard</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
