@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="center">
    <h1>@ViewData["Title"]</h1>
    @if (!string.IsNullOrEmpty(Model.StatusMessage))
    {
        <div class="alert alert-success">
            @Model.StatusMessage
        </div>
    }
    <form id="profile-form" method="post">
        <div style="display:flex">
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.FirstName" type="text" required>
                <span asp-validation-for="Input.FirstName"></span>
                <label asp-for="Input.FirstName"></label>
            </div>
            <div class="form-floating mb-3" style="width:4%"></div>
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.LastName" type="text" required>
                <span asp-validation-for="Input.LastName" style="margin-bottom:-25px"></span>
                <label asp-for="Input.LastName"></label>
            </div>
        </div>
        <div>
            <div style="display:flex">
                <div style="color:#2691d9">
                    <label asp-for="Input.Gender">Gender</label>
                </div>
                <div style="color:#adadad; margin-left:20px">
                    <input asp-for="Input.Gender" type="radio" id="Male" value="Male" />
                    <label asp-for="Input.Gender">Male</label>
                </div>
                <div class="form-floating mb-3" style="width:15%"></div>
                <div style="color:#adadad">
                    <input asp-for="Input.Gender" type="radio" id="Female" value="Female" />
                    <label asp-for="Input.Gender">Female</label>
                </div>
            </div>
            <span asp-validation-for="Input.Gender" style="text-decoration: none; color: red; font-size: 12px;"></span>
        </div>
        <div class="txt_field" style="border-bottom:2px solid #2691DA">
            <input asp-for="Username" type="text" autocomplete="username" disabled />
            <label style="color:#2691DA; top:-5px">Email</label>
        </div>
        <div class="txt_field" >
            <input asp-for="Input.PhoneNumber" autocomplete="phoneNumber" placeholder="" />
            <label asp-for="Input.PhoneNumber"></label>
            <span asp-validation-for="Input.PhoneNumber"></span>
        </div>
        <div class="pass">
            <a asp-page="./ChangePassword">
                Update Password
            </a>
        </div>
        <input type="submit" value="Save">
        <div class="signup_link">
            Done editing details? <a href="/">Return Dashboard</a>
        </div>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
