@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="center">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form>
        <input type="submit" value="Login"/>
    </form>
    <br />
</div>