@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}
 
<div class="center" style="display: flex; align-items:center; flex-direction: column">
    <h1>@ViewData["Title"]</h1>
    <h6>Please enter your email.</h6>
    <form method="post">
        <div class="txt_field">
            <input asp-for="Input.Email" autocomplete="username" required style="width: 250px;" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <input type="submit" value="Reset Password">
        <div class="signup_link">
            Go back to <a asp-page="./Login">Login</a> page
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
