@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="center" style="display: flex; align-items:center; flex-direction: column">
    <h1>@ViewData["Title"]</h1>
    Please check your email to reset your password.
    <form>
        <input type="submit" value="Login" />
    </form>
    <br/>
</div>