@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="center">
    <h1 style=" font-size: 30px; font-style: italic;">
        Bunny Bucks:
        <p style=" margin-bottom: -10px; font-size: 17px; font-style: initial; font-weight: 400; color: #2691d9">Savings Tracker</p>
    </h1>
    <form method="post">
        <div class="txt_field">
            <input asp-for="Input.Email" type="text" autocomplete="username" required>
            <span asp-validation-for="Input.Email"></span>
            <label asp-for="Input.Email">Email</label>
        </div>
        <div class="txt_field">
            <input asp-for="Input.Password" type="password" id="passwordField" autocomplete="current-password" required>
            <span asp-validation-for="Input.Password"></span>
            <label asp-for="Input.Password">Password</label>
        </div>
        <div style="display:flex" id="passwordToggle" onclick="togglePasswordVisibility()">
            <input type="checkbox" id="showPassword" style="width: 13px;">
            <label style=" font-size: 13px; color: #a6a6a6; padding: 10px;">
                Show Password
            </label>
        </div>
        @if (Model.IsUserExist)
        {
            <span style=" color: red; font-size: 12px;">Invalid credentials.</span>
        }
        <div class="pass">
            <a asp-page="./ForgotPassword">
                Forgot Password?
            </a>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Signup</a>
        </div>
    </form>
</div>

<script>
    document.getElementById('passwordToggle').addEventListener('click', function () {
        var checkbox = document.getElementById('showPassword');
        checkbox.checked = !checkbox.checked;
    });
    document.getElementById('showPassword').addEventListener('click', function () {
        var checkbox = document.getElementById('showPassword');
        checkbox.checked = !checkbox.checked;
    });
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("passwordField");
        var showPassword = document.getElementById("showPassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            showPassword.innerText = "Hide Password";
        } else {
            passwordField.type = "password";
            showPassword.innerText = "Show Password";
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
