@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="center">
    <h1>Registration Form</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div style="display:flex; margin-bottom: -25px">
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.FirstName" autocomplete="username" type="text" required>
                <span asp-validation-for="Input.FirstName"></span>
                <label asp-for="Input.FirstName">First Name</label>
            </div>
            <div class="form-floating mb-3" style="width:4%"></div>
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.LastName" autocomplete="username" type="text" required>
                <span asp-validation-for="Input.LastName" style="margin-bottom:-25px"></span>
                <label asp-for="Input.LastName">Last Name</label>
            </div>
        </div>
        <div class="txt_field">
            <input asp-for="Input.Email" type="text" autocomplete="username" required>
            <span asp-validation-for="Input.Email"></span>
            @if(Model.IsUserExist)
            {
                <span>Email is already taken.</span>
            }
            <label asp-for="Input.Email">Email</label>
        </div>
        <div>
            <div style="display:flex">
                <div style="color:#2691d9">
                    <label asp-for="Input.Gender">Gender</label>
                </div>
                <div style="color:#adadad; margin-left:20px">
                    <input asp-for="Input.Gender" type="radio" id="Male" value="Male" />
                    <label asp-for="Input.Gender">Male</label>
                </div>
                <div class="form-floating mb-3" style="width:15%"></div>
                <div style="color:#adadad">
                    <input asp-for="Input.Gender" type="radio" id="Female" value="Female" />
                    <label asp-for="Input.Gender">Female</label>
                </div>            
            </div>
            <span asp-validation-for="Input.Gender" style="text-decoration: none; color: red; font-size: 12px;"></span>
        </div>


        <div style="display:flex">
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.Password" id="passwordField" type="password" required>
                <span asp-validation-for="Input.Password"></span>
                <label asp-for="Input.Password">Password</label>

            </div>
            <div class="form-floating mb-3" style="width:4%"></div>
            <div class="txt_field" style="max-width:155px">
                <input asp-for="Input.ConfirmPassword" id="passwordField2" type="password" required>
                <span asp-validation-for="Input.ConfirmPassword"></span>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            </div>
        </div>
        <div style="display:flex" id="passwordToggle" onclick="togglePasswordVisibility()">
            <input type="checkbox" id="showPassword" style="width: 13px;">
            <label style=" font-size: 13px; color: #a6a6a6; padding: 10px;">
                Show Password
            </label>
        </div>

        <input type="submit" value="Register">
        <div class="signup_link">
            Already have an account? <a asp-page="./Login">Login</a>
        </div>
    </form>
</div>
<script>
    document.getElementById('passwordToggle').addEventListener('click', function () {
        var checkbox = document.getElementById('showPassword');
        checkbox.checked = !checkbox.checked;
    });
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("passwordField");
        var passwordField2 = document.getElementById("passwordField2");
        var showPassword = document.getElementById("showPassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            passwordField2.type = "text";
            showPassword.innerText = "Hide Password";
        } else {
            passwordField.type = "password";
            passwordField2.type = "password";
            showPassword.innerText = "Show Password";
        }
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
